section {
  width: 100%;
}

.chartsBody {
  width: 100%;
}

.chart-wrap {
  display: block;
  height: 36vh;
  width: 35%;
}

.sectionWrap {
  height: 80vh;
  overflow: auto;
  margin: -3em;
}

.lineChartWrap,
.barChartWrap {
  display: flex;
  grid-column-gap: 6%;
  justify-content: center;
  column-gap: 6%;
}

@media (max-width: 950px) {
  .chart-wrap {
    height: 35vh;
    width: 50%;
  }
}

@media (max-width: 680px) {
  .lineChartWrap,
  .barChartWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 6%;
  }

  .chart-wrap {
    width: 85%;
  }
}
