.header {
    height: 14em;
    display: grid;
    grid-template-rows: 70% 30%;
    align-items: center;
    position: fixed;
    width: 100%;
}

.title {
    display: flex;
    background: linear-gradient(343.8deg, #845EC2 17.83%, #543C88 88.01%);;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
}

.navBar {
    display: grid;
    grid-template-columns: 0% 20% 20% 20% 20% 20%;
    height: 100%;
    align-items: center;
    background-color: white;
}

.navBar a {
    color: black;
}

.navBar a:hover {
    text-decoration: none;
}

.navBtn {
  background-color: white;
  color: black;
  padding: 0.5em 1em;
  border: none;
  position: relative;
  cursor: pointer;
  letter-spacing: 3px;
  font-size: 1em;
  display: inline-block;
}

.navBtn.underline_slide::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #51308E;
  height: 3px;
  border-radius: 50px; 
  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
}

.navBtn.underline_slide:hover::before,
.navBtn.underline_slide:focus::before {
  transform: scaleX(1);
}

.underline_slide {
  content: '';
}

.burger div {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 5px;
  display: none;
}


@media screen and (max-width:680px) {
  .navBar {
    position: absolute;
    width: 80%;
    right: 0;
    height: 80vh;
    top: 10em;
    grid-template-columns: 0;
    grid-template-rows: 0% 20% 20% 20% 20% 20%;
    justify-content: center;
    background-color: lightgray;
  }
  .burger div {
    display: block;
  }
}