.header {
  min-height: 19vh;
  display: grid;
  grid-template-rows: 70% 30%;
  align-items: center;
  width: 100%;
}

.title {
  display: flex;
  background: linear-gradient(343.8deg, #845ec2 17.83%, #543c88 88.01%);
  height: 100%;
  justify-content: center;
  align-items: center;
  color: white;
}

.navBar {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: white;
}

.navLinks {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.navBar a {
  color: black;
}

.navBar a:hover {
  text-decoration: none;
  color: black;
}

.navBtn {
  background-color: rgba(0, 0, 0, 0);
  color: black;
  padding: 0.5em 1em;
  border: none;
  position: relative;
  cursor: pointer;
  letter-spacing: 3px;
  font-size: 1em;
  display: inline-block;
}

.navBtn.underline_slide::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #51308e;
  height: 3px;
  border-radius: 50px;
  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
}

.navBtn.underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #51308e;
  height: 4px;
  border-radius: 50px;
}

.navBtn.underline_slide:hover::before,
.navBtn.underline_slide:focus::before {
  transform: scaleX(1);
}

.underline_slide {
  content: "";
}

.burger {
  display: none;
}

.burger div {
  width: 30px;
  height: 3px;
  background-color: black;
  margin-top: 5px;
  transition: all 100ms ease-in-out;
}

@media screen and (max-width: 680px) {
  .navLinks {
    position: absolute;
    background-color: #51308e;
    right: 0px;
    width: 65%;
    height: 82vh;
    top: 19vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .navBar {
    justify-self: end;
  }

  .navBar a {
    color: white;
  }

  .navBar a:hover {
    text-decoration: none;
    color: white;
  }

  .navBtn {
    color: white;
  }

  .navBtn.underline_slide::before {
    background-color: white;
  }

  .burger {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    cursor: pointer;
  }

  .burger div {
    display: block;
    justify-content: center;
  }
}

@media screen and (max-width: 680px) {
  .title h1 {
    font-size: 1.5rem;
  }
}

.navLinkActive {
  transform: translateX(0%);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
