.App {
  text-align: center;
}

body {
  margin: 0px;
}

.loginBox {
  background: rgba(255, 255, 255, 0.1);
  height: 275px;
  width: 690px;
  padding-top: 50px;
  box-shadow: 1px 1px 12px rgb(0 0 0 / 10%);
  font-family: sans-serif;
}

.wrap {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transaction {
  background-color: lightgray;
}
.transaction td {
  padding: 0.5rem 2rem;
}
.transaction tr:hover {
  background-color: gray;
  cursor: pointer;
}

.balanceBoard {
  display: grid;
}

.totalBalance {
  grid-column-start: 1;
  grid-column-end: 3;
}